.alert-box{
    position: fixed;
    top: 20px;
    width: 100vh;
    left: 30%;
    min-width: 240px;
    border-radius: 8px;
    color: white;
    padding: 14px 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: slidIn 0.3s ease-in ;

}

.alert-box.success {
  background-color: #28a745;
}

.alert-box.error {
  background-color: #dc3545;
}
.alert-box button {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

@keyframes slidIn {
    from{
        transform: translateY(120px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}