/* 3 dots menu */

.commet-menu {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
}

.menu-icon {
    font-size: 18px;
    cursor: pointer;
    color: #333;
    padding: 5px;
}

/* dropdown */

.dropdown-menu-custom {
    position: absolute;
    top: 35px;   /* below icon */
    right: 8px;  /* align with icon */
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 100px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.dropdown-menu-custom p {
    margin: 0;
    padding: 8px 10px;
    cursor: pointer;
}

.dropdown-menu-custom p:hover {
    background: #f1f1f1;
}