.filter-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.filter-container select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}