.forgot-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-forgot img{
    width: 400px;
    height: 400px;
}
.left-forgot{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg,#0073ff, #00c6ff);
    height: 100vh;
    color: white;
    padding: 50px;
}
.left-forgot h1{
    font-size: 32px;
    position: relative;
    top:-35px;
    margin-bottom: -5px;
}
.left-forgot p{
    font-size: 16px;
    max-width: 420px;
    opacity: 0.95;
}
.right-forgot{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.forgot-form{
    width: 100%;
    max-width: 420px;
    margin-bottom: 10px; 
    
}
.forgot-form h3{
    margin-top: -20px;   
    margin-bottom: 20px; 
}


