.pass{
    width: 100%;
    display: flex;
    align-items: center;
}
.left-pass img{
    width: 400px;
    height: 400px;
}
.left-pass{
    height: 100vh;;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0073ff, #00c6ff);
    color: white;
    text-align: center;
    padding: 50px;

}
.right-pass{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-pass h1{
    font-size: 32px;
    position: relative;
    top:-35px;
    margin-bottom: -5px;
}
.left-pass p{
    font-size: 16px;
    max-width: 420px;
    opacity: 0.95;
}

.pass-box{
    width: 100%;
    max-width: 420px;
    
}

@keyframes slideLeft {
 from{
    transform: translateX(-120px);
    opacity: 0;
 }   
 to{
    transform: translateX(0px);
    opacity: 1;
 }

}
.left-pass{
    animation: slideLeft 1s ease-out forwards;
}

@keyframes fadeUp {
    from{
        transform: translateY(-120px);
        opacity: 0;
    }to{
        transform: translateY(0px);
        opacity: 1;
    }

}
.right-pass{
    animation: fadeUp 1s ease-out forwards;
}
.icon:hover{
    cursor: pointer;
}
.icon{
    margin-right: 10px;
}

.btn{
    background-color: #0073ff;
    margin-top: 10px;
}
.btn:hover{
    background-color: black;
}

