.sign-up {
    height: 100vh;
    display: flex;
    align-items: center; 
    
}

.left-signup{
    width: 50%;
    background: linear-gradient(135deg,#0073ff, #00c6ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 50px;
    height: 100vh;
}
.left-signup img{
    width: 400px;
    height: 400px;
}
.left-signup h1{
    font-size: 32px;
    position: relative;
    top:-35px;
    margin-bottom: -5px;
}
.left-signup p{
    font-size: 16px;
    max-width: 420px;
    opacity: 0.95;
}

.form-label{
    margin-top: 10px;
}

.right-signup{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
@keyframes SlideFromLeft {
    from{
        transform: translateX(-60px);
        opacity: 0;
    }to{
        transform: translate(0px);
        opacity: 1;
    }

}
.left-signup{
    animation: SlideFromLeft 1s ease-out forwards ;
}
@keyframes fadeUp {
    from{
        transform: translateY(40px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

.right-signup{
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.1s;
}